.main-panel {
    max-width: 655px;
    min-width: 351px;
    z-index: 1;
    box-sizing: border-box;
}

.sub-panel {
    max-width: 626px;    
    min-width: 626px;
    box-sizing: inherit;
}

@media only screen and (max-width: 668px) {
    .sub-panel {
        max-width: 626px;    
        min-width: 100%;
        box-sizing: inherit;
    }    
}