.tabs {
    max-width: 655px;
    min-width: 351px;
    width: 100%;
    min-height: 70px;
    box-sizing: border-box;
}

.tab {
    width: 136px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;    
    translate: 0px 35px;   
    box-sizing: inherit;
}

.disabled-tab {
    width: 136px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;    
    translate: 0px 55px; 
    box-sizing: inherit;
}

@media only screen and (max-width: 668px) {
    .disabled-tab {
        width: 136px;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;    
        translate: 0px 55px; 
        visibility: collapse;
    }    
}

.tab[aria-checked='true'] {
    translate: 0px 0px;
    transition: translate 200ms ease-in-out;
}

.tab[aria-checked='false'] {
    translate: 0px 35px;
    transition: translate 200ms ease-in-out;
}